<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.quitent1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Quitent1">
        <activity android:name=".UpdateStudentSem"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Quitent1.NoActionBar"/>
        <activity
            android:name=".UpdateStaffEP"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Quitent1.NoActionBar" />
        <activity
            android:name=".StudentDelete"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Quitent1.NoActionBar" />
        <activity
            android:name=".StaffDelete"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Quitent1.NoActionBar" />
        <activity
            android:name=".UpdateAdminEP"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Quitent1.NoActionBar" />
        <activity
            android:name=".UpdateStudentEP"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Quitent1.NoActionBar" />
        <activity
            android:name=".AdminActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Quitent1.NoActionBar" />
        <activity
            android:name=".AdminSignIn"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Quitent1.NoActionBar" />
        <activity
            android:name=".AdminSignUp"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Quitent1.NoActionBar" />
        <activity
            android:name=".AdminIntro"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Quitent1.NoActionBar" />
        <activity
            android:name=".display_marks"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Quitent1.NoActionBar" />
        <activity
            android:name=".StartQuiz"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Quitent1.NoActionBar" />
        <activity
            android:name=".BoardContent1"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Quitent1.NoActionBar" />
        <activity
            android:name=".StudentSignIn"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Quitent1.NoActionBar" />
        <activity
            android:name=".StudentSignUp"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Quitent1.NoActionBar" />
        <activity
            android:name=".StudentIntro"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Quitent1.NoActionBar" />
        <activity
            android:name=".CreateQuiz"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Quitent1.NoActionBar" />
        <activity
            android:name=".uploadpdf"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Quitent1.NoActionBar" />
        <activity
            android:name=".CommonData"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Quitent1.NoActionBar" />
        <activity
            android:name=".boardComment"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Quitent1.NoActionBar" />
        <activity
            android:name=".BoardContent"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Quitent1.NoActionBar" />
        <activity
            android:name=".StaffSignIn"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Quitent1.NoActionBar" />
        <activity
            android:name=".StaffSignUp"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Quitent1.NoActionBar" />
        <activity
            android:name=".StaffIntro"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Quitent1.NoActionBar" />
        <activity
            android:name=".classModel"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Quitent1.NoActionBar" />
        <activity
            android:name=".IntroActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Quitent1.NoActionBar" />
        <activity
            android:name=".StaffActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Quitent1.NoActionBar" />
        <activity
            android:name=".StudentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Quitent1.NoActionBar" />
        <activity
            android:name=".FlashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Quitent1.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>